/* cyrillic-ext */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fashionhub-sidebar-navigation/assets/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk79FN_P-bnBeA.141a4120.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fashionhub-sidebar-navigation/assets/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk79FN_G-bnBeA.360ca96c.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fashionhub-sidebar-navigation/assets/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk79FN_B-bnBeA.072faa56.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fashionhub-sidebar-navigation/assets/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk79FN_N-bnBeA.3a43165a.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fashionhub-sidebar-navigation/assets/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk79FN_M-bnBeA.517751dc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fashionhub-sidebar-navigation/assets/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk79FN_C-bk.b55412d6.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fashionhub-sidebar-navigation/assets/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk7PFN_P-bnBeA.34cae2d5.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fashionhub-sidebar-navigation/assets/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk7PFN_G-bnBeA.5313001a.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fashionhub-sidebar-navigation/assets/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk7PFN_B-bnBeA.ad4af450.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fashionhub-sidebar-navigation/assets/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk7PFN_N-bnBeA.e2b01118.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fashionhub-sidebar-navigation/assets/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk7PFN_M-bnBeA.cbe33e66.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fashionhub-sidebar-navigation/assets/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk7PFN_C-bk.bbe4fd2b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fashionhub-sidebar-navigation/assets/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk4jE9_P-bnBeA.760ef28f.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fashionhub-sidebar-navigation/assets/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk4jE9_G-bnBeA.7bd1937e.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fashionhub-sidebar-navigation/assets/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk4jE9_B-bnBeA.bbb40b1b.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fashionhub-sidebar-navigation/assets/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk4jE9_N-bnBeA.c6d150bb.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fashionhub-sidebar-navigation/assets/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk4jE9_M-bnBeA.32b22ebb.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fashionhub-sidebar-navigation/assets/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk4jE9_C-bk.17995928.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fashionhub-sidebar-navigation/assets/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk4aE9_P-bnBeA.ba789cc1.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fashionhub-sidebar-navigation/assets/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk4aE9_G-bnBeA.96dac0ba.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fashionhub-sidebar-navigation/assets/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk4aE9_B-bnBeA.071ba729.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fashionhub-sidebar-navigation/assets/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk4aE9_N-bnBeA.08e27eb9.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fashionhub-sidebar-navigation/assets/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk4aE9_M-bnBeA.90d43276.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fashionhub-sidebar-navigation/assets/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk4aE9_C-bk.9066836f.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

